<!DOCTYPE html>
<html>
<head>
    <title>Login Page</title>
    <button> <a href="/" type="button">Home</a></button>
    <button> <a href="/signup" type="button">Sign Up</a></button>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>
    <body>
        <h1>Log In</h1>
        <form action="/login" method="POST">
            <form action="mailto:support@project2-002354500.herokuapp.com/" method="POST" enctype="text/plain">
            <p>Enter Username:</p>
            <p><input type="text" name="username" /></p>
            <p>Enter Password:</p>
            <p><input type="password" name="password" /></p>
            <p><input type="submit" value="Submit" /></p>
            <input type="checkbox" id="check">    
            <span>Remember Me!</span>    
            <br><br>    
            <a href={{ url_for('signup') }}>Forgot Password</a>
        </form>
    </body>
</html>