<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <title>Welcome Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>
<center>
    <h2>Welcome!</h2>
    <a href="/login">Login here</a>
    <a href="/signup">Signup here</a>
    <div className="row " id="Body">
        <div className="medium-12 columns">
            <h2 id="introTxt">
                Trying to find some information on a movie?
            </h2>
            <br />
            <h2 id="introTxt">
                Not sure what you want to watch?
            </h2>
            <br />
            <h2 id="introTxt">
                Well fear not, because you came to the right place
            </h2>
</center>
<br />
</div>
</div>